@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    max-height: 100%
}

input, textarea, select {
    @apply border border-gray-200 rounded-sm w-full py-1 px-2;
    @apply mb-2;
}

input:focus, textarea:focus, select:focus {
    @apply outline-none border-blue-900 !important;
}

h1 {
    @apply text-gray-800 mb-4 text-xl;
}

label {
    @apply text-gray-600 text-sm;
}

.btn-primary {
    @apply transition duration-300 ease-in bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}

.btn-primary:hover {
    @apply bg-highlight text-primary;
}

table.basic {
    @apply w-full bg-white rounded-sm shadow-md;
}
table.basic thead tr td{
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2 bg-gray-50;
}

table.basic tr td{
    @apply px-4 pt-1 pb-1;
}

table.basic a {
    @apply inline-flex mx-1 items-center gap-1 px-4 py-1 rounded-sm text-sm;
}

table.basic a:hover {
    @apply bg-highlight text-primary transition duration-300 ease-in;
}

.btn-default, .btn-red {
    @apply px-4 py-1 rounded-md;
}

.btn-red {
    @apply bg-red-500 text-white hover:bg-gray-400 transition duration-300 ease-in rounded-sm shadow-sm;
}

.btn-default {
    @apply bg-white text-gray-800 hover:bg-gray-400 transition duration-300 ease-in rounded-sm border border-gray-200 shadow-sm;
}

.loader {
    position: absolute;
    left: 50%;
    right: 50%;
    margin-top: 6rem;
    transform: translate(-50%, -50%);
}


table.basic tr:nth-child(even) {
     background:#f9f9f9;
}